<%- include('header'); -%>

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt earum facilis quas voluptas alias. Eligendi error, dignissimos quas cupiditate fugiat nisi rem minus optio soluta delectus deserunt beatae, ullam alias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae neque deserunt architecto, mollitia assumenda, ea ipsum fugiat asperiores earum unde error reiciendis dolore facere voluptates optio quam omnis nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, saepe magni vitae doloribus laborum dolore ullam iste cupiditate blanditiis sapiente sequi aperiam, officia esse cumque, incidunt quia consequatur reprehenderit ex.</p>
<%- include('footer'); -%>